body {
	font-family: Tahoma;
	text-align: center;
	background:#c1c1c1;
	margin: 30px auto;
	padding: auto;
}

canvas{
	margin:-2200px auto ;
	border:2px solid #454544;
}

header {
	font-size: 36px;
	margin: 60px auto;
}

.sreenSh img {
	width: 500px;
	height: 250px;
	margin-bottom: 10px;
	margin-left: 20px;
}

.sreenSh  {
margin-top: 570px;
}

footer {
}